<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651861599186-925q69jdce1de71k3q1hhidm93qevmnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651861599186-925q69jdce1de71k3q1hhidm93qevmnf</string>
	<key>API_KEY</key>
	<string>AIzaSyCVqVNvk3D7vPQVSKG4Y8Xq-bvCvfWZpzk</string>
	<key>GCM_SENDER_ID</key>
	<string>651861599186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motortest.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait64v2</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait64v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651861599186:ios:5b6b888653b7513ee89e0b</string>
</dict>
</plist>